# Terraform
.terraform
**/.terraform/*
*.tfstate
*.tfstate.backup
terraform.tfvars

#ignore lock file in this module
.terraform.lock.hcl

# Terragrunt Cache
.terragrunt-cache/

# Don't commit unencrypted Secrets
secrets.tfvars

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/

# VScode
.vscode/

# Cursor
.cursor

*.pem

#direnv
.envrc
