# Terraform
.terraform
**/.terraform/*
*.tfstate
*.tfstate.backup
terraform.tfvars

# Terragrunt Cache
.terragrunt-cache/

# Don't commit unencrypted Secrets
secrets.tfvars

# OS X
.history
.DS_Store

# IntelliJ
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/

# VScode
.vscode/

*.pem

#direnv
.envrc
